@media screen and (max-width:1400px){
.abt-img {
    right: -60px;
    top: -42px;
}

}
@media screen and (max-width:1200px){
    .abt-img{
      right: -20px;
      bottom: 26px;
    }
    .content2 h5 {
    margin-left: -761px;
}
.content2 p {
    margin-left: -765px;
}
.content1 h5 {
  margin-left: -761px;
}
.content1 p {
    margin-left: -765px;
}
.content h5 {
  margin-left: -761px;  
}
.content p {
     margin-left: -765px;
}
.education .edu1 img {
    margin-left: 186px;
}
.education .edu1 .new {
    margin-left: -863px;
}
}
@media screen and (max-width:991px){
.too-ls {
    width: 900px;
}
}
@media (max-width: 768px) {

}

@media (max-width: 600px) {

}
@media screen and (max-width:575px){
    
}
@media screen and (max-width:457px){
  .abt-img {
    right: -9px;
  
    top: 1px;
}
.service-cnt img {
  display: none;
}
} 
