a {
  list-style: none !important;
  text-decoration: none !important;
}
ul {
    list-style: none !important;
    text-decoration: none !important;
}

header{
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    background-color: #021317;
    z-index: 100;
}
.header{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: #021317;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #ebecec1a;

}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    text-decoration: none;
    color: white;
}
header nav ul a{
    text-decoration: none;
    color: white;
   
}
.cta-btn {
  background-color: #021317;
  padding: 15px 25px;
  border-radius: 100px;
  text-decoration: none ;
  color: white;
  background-color: #ebecec1a;

}
#hero{
    background-image:url(../img/banner\ bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-color: #021317;
}
body{
    background-color: #021317 !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.fsrt-glass {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 74px;
    padding: 25px;
}

.second-glass img{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.hero-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* about section */
.mt-60 {
    margin-top: 120px;
}
.paragraph{
    padding: 10px 15px;
    color: white;
}
.about-cnt{
    border-radius: 24px;
    padding: 25px 25px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}
   /* .about-cnt {
    
        position: absolute;
        width: 1300px;
        height: 435px;
        border-radius: 28px;
        cursor: move;
        isolation: isolate;
        touch-action: none;
        box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
} */

    .about-cnt::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 12%);
    background-color: #0e1f26db;
}
.about-cnt h1 {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #ffffff0f;
    /* bottom: 10px; */
    font-family: 'Metal Mania', cursive;
    top: 64px;
    font-size: 62px;
}      
    
.about-cnt h2 {
    font-family: 'Merienda One';
    font-size: 35px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: white;
    background: linear-gradient(87deg, #ffffff, #4CB5D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}                                                         
.about p{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.abt-img{
    position: relative;
    right: -80px;
}
    
/* tool section  */
#tools{
    height: 100%;
}
/* .tools-cnt.mt-60 {
    margin-top: 700px;
} */
.tools-cnt h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.tools-cnt p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: 100px;
}
.box1 {
    background-color: #0e1f264f;
    border-radius: 15px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .box {
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 0.1px solid rgb(254 254 254 / 18%);
    stroke: 0.1px solid white;
} */
 :root {
            /* Inner shadow */
            --shadow-offset: 0;
            --shadow-blur: 20px;
            --shadow-spread: -5px;
            --shadow-color: rgba(255, 255, 255, 0.7);

            /* Painted glass */
            --tint-color: 255, 255, 255;
            --tint-opacity: 0.4;

            /* Background frost */
            --frost-blur: 2px;

            /* SVG noise/distortion */
            --noise-frequency: 0.008;
            --distortion-strength: 77;

            /* Outer shadow blur */
            --outer-shadow-blur: 24px;
        }
 .box1 {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 28px;
            cursor: move;
            isolation: isolate;
            touch-action: none;
            /* enable pointer dragging on touch */
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

      .box1::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 23%);
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    
}

        .box1::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
.box1 span{
    position: relative;
    color: white;
    font-size: 20px;
}
.box2 {
    background-color: #0e1f264f;
    border-radius: 15px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 28px;
            cursor: move;
            isolation: isolate;
            touch-action: none;
            /* enable pointer dragging on touch */
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

      .box2::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 23%);
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    
}

        .box2::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
.box2 span{
    position: relative;
    color: white;
    font-size: 20px;
}
.box3 {
    background-color: #0e1f264f;
    border-radius: 15px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3 {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 28px;
            cursor: move;
            isolation: isolate;
            touch-action: none;
            /* enable pointer dragging on touch */
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

      .box3::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 23%);
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    
}

        .box3::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
.box3 span{
    position: relative;
    color: white;
    font-size: 20px;
}
.box4 {
    background-color: #0e1f264f;
    border-radius: 15px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4 {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 28px;
            cursor: move;
            isolation: isolate;
            touch-action: none;
            /* enable pointer dragging on touch */
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

      .box4::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 23%);
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    
}

        .box4::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
.box4 span{
    position: relative;
    color: white;
    font-size: 20px;
}
.box5 {
    background-color: #0e1f264f;
    border-radius: 15px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5 {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 28px;
            cursor: move;
            isolation: isolate;
            touch-action: none;
            /* enable pointer dragging on touch */
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

      .box5::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 23%);
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    
}

        .box5::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
.box5 span{
    position: relative;
    color: white;
    font-size: 20px;
}
.box6 {
    background-color: #0e1f264f;
    border-radius: 15px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6 {
            position: absolute;
            width: 150px;
            height: 150px;
            border-radius: 28px;
            cursor: move;
            isolation: isolate;
            touch-action: none;
            /* enable pointer dragging on touch */
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

      .box6::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow: inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) rgb(255 255 255 / 23%);
    background: linear-gradient(49deg, #0e1f264d, #33718b8a);
    
}

        .box6::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }
.box6 span{
    position: relative;
    color: white;
    font-size: 20px;
}
/* service section */
.service-cnt h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.service-cnt p{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin-bottom: 100px;
}
/* work section */
.work-cnt h2{
   color: white;
}
.work-cnt a{
    text-decoration: none;
    list-style: none;
    color: white;
    border-radius: 100px;
    background-color: #0c3139f1;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-bottom: 100px;
}
.work-cnt.mt-60 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.graph{
    display: flex;
    align-items: flex-end;
    background-color: rgba(67, 65, 65, 0.103);
    border-radius: 10px;
    height: 500px;
    flex-wrap: wrap;
}
.graph-1{
    background-color: rgba(255, 255, 255, 0.052);
    height: 20%;
    border-radius: 10px;
    width: 100%;
}
.graph-1 a{
    text-decoration: none;
    color: white;
    background-color: #07313a;
    border-radius: 100px;
    padding: 5px 20px;
}
/* Education section */
.education {
    background: no-repeat;
    background-size: 103%;
    height: 1459px;
    margin-top: 10px;
    width: 100%;
}
.education .edu1 img{
    width: 60px;
    height: 800px;
    margin-top: 29px;
    margin-left: 179px;
}
.education .edu1 .new {
    margin-top: -34px;
    padding-top: 35px;
    margin-left: 39px;
}
.education .edu1 .new h5 {
    font-size: 26px;
    color: white;
    margin: 232px auto;
    
}
.education .edu1 .new {
    margin-top: -118px;
    padding-top: 35px;
    margin-left: -1034px;
    display: inline-block;
    right: 200px;
}
.education h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
    gap: 15px;
}
.content h5 {
    margin-top: -314px;
    /* padding-top: 35px; */
    /* margin-bottom: -15px; */
    color: white;
    margin-left: -915px;
}
.content p {
    margin-top: -325px;
    padding-top: 330px;
    color: white;
    margin-left: -915px;
}
.content {
    margin: 0px auto;
}